p{
    padding: 10px;
  }
  th{
    /* font-weight: bold; */
    font-size: 15px;
    background-color: aquamarine;
    color:black;
    height: 20%;
  }
  td{
    width: 10%;
  }
  /* mat-expansion-panel-header{
    background-color: darkblue;
    color: white;
  }
  mat-header-cell{
    color: blue;
  } */
  .grid-container {
    margin-left: 5px;
    width: 99.5%;
    height: 300px;
    overflow: auto; 
    border: 1px solid black;  
  }
  table.mat-elevation-z8{
    width: 100%;
  }
  .listBtn{
    margin-left: 64%;
  }
  .sideRight{
    /* float: right; */
    margin-left: 19%;
  }
  .sideMiddle{
    margin-left: 17%;
  }
  .sideLeft{
    margin-left: 1%;
  }
  .side{
    float:right;
    margin-right: 100px;
  }
  /* .highlight {
    background-color: #1976D2 !important;
    font-weight: bold;
  } */
  
  .result-row:hover {
    background-color: #BBDEFB;
    
  }
  
  .datatable> ::ng-deep figure {
    justify-content: flex-start !important;
  }
  
  mat-grid-tile {
    justify-content: start;
  }
  
  .datatable{
    overflow-y:auto;
  }
  /* #table1{
    width: 55%;
    margin-left: 35.5%;
    
  } */
  .buttonRight{ 
   /* float: right; */
   margin-left: 4.5%;
  }
  .highlight{
    background:#BBDEFB;
    color: white;
  }
  .ftable
  {
    width: 100%; 
    border: 1px solid blue;
  }
  .ftd{
  
    width: 50%;
  }
  .ftd2{
    width:10%;
  } 
  .siteRadio_1{
    margin-left: 37%;
  }

  .siteRadio_2{
    margin-left: 3%;
  }
  .thirdDrop{
    margin-left: 4%;
  }
  
  