<mat-card>SIID & Product Package</mat-card>
<div class="container">

</div>
<table style="width:100%">
  <tr>
    <td>
      <mat-label>SSID/EMF COde:</mat-label>
      <mat-form-field class="">
        <input matInput type="text"> 
      </mat-form-field> 
    <mat-label class="productLbl">Product Package Code:</mat-label>
      <mat-form-field class="">
        <input matInput type="text"> 
      </mat-form-field> 
    <button class="siidBtn" mat-button>REPLACE SIID</button>
  </td>
  </tr>
</table>
<div>
<mat-label>Product Package Description:</mat-label>
<mat-form-field class="descInpt">
  <input matInput type="text"> 
</mat-form-field>
</div>