
  <!-- <mat-toolbar style="height: 35px;">
      <span>{{openedSubModuleTitle}}</span>
  </mat-toolbar> -->
  <p>
      case-id-details works! for case id= {{caseIdData.caseId}}
      case-id-details works! for case id= {{caseIdData.caseId}}
      case-id-details works! for case id= {{caseIdData.caseId}}
      case-id-details works! for case id= {{caseIdData.caseId}}
      case-id-details works! for case id= {{caseIdData.caseId}}
      case-id-details works! for case id= {{caseIdData.caseId}}
      case-id-details works! for case id= {{caseIdData.caseId}}
      case-id-details works! for case id= {{caseIdData.caseId}}
  </p>
  <br>
  