  <!-- <mat-toolbar style="height: 35px;">
    <span>CASE INFO : {{caseInfo.caseId}}</span>&nbsp;&nbsp;&nbsp;
  </mat-toolbar> --><br>
    <div class="matExpansionPannel_left">
        <mat-accordion class="example-headers-align">

          
              <!-- case details pannel -->
              <mat-expansion-panel class="pannel_1">
                  <mat-expansion-panel-header [collapsedHeight]="MAT_TAB_COLLAPSED_HEIGHT" [expandedHeight]="MAT_TAB_EXPANDED_HEIGHT">
                    <mat-panel-title>
                      Case Details
                    </mat-panel-title>
                    <!-- <mat-panel-description>
                      Tap the pannel to view details
                    </mat-panel-description> -->
                  </mat-expansion-panel-header><br>
                  <!-- <div> -->
                     <!-- cust id and case title  -->
                      <span>
                         <mat-form-field class="custId">
                             <input matInput placeholder="Cust ID" [(ngModel)]="caseInfo.tableSite.siteId">
                         </mat-form-field>
                       
                         <mat-form-field class="casetitle">
                             <input matInput placeholder="Case title" [(ngModel)]="caseInfo.tableCase.title">
                         </mat-form-field>
                       </span>
                     <!-- </div> -->
                     <!-- <div> -->
                       <!-- name and reported by-->
                       <span>
                         <mat-form-field class="name">
                             <input matInput placeholder="Name" [(ngModel)]="caseInfo.tableSite.xCustLegalName">
                         </mat-form-field>
                     
                         <mat-form-field class="reportedBy">
                             <input matInput placeholder="Reported By(F/L)" [(ngModel)]="fullName"> 
                         </mat-form-field>
                       </span>
                     <!-- </div> -->
                     <!-- <div> -->
                       <span>
                         <mat-form-field class="mainPhone">
                             <input matInput placeholder="Main Phone" [(ngModel)]="caseInfo.tableContact.phone">
                         </mat-form-field>
                     
                         <mat-form-field class="email">
                             <input matInput placeholder="Email" [(ngModel)]="caseInfo.tableContact.email">
                         </mat-form-field>
                       </span>
                     <!-- </div> -->
                     <!-- <div> -->
                       <span>
                         <mat-form-field class="billerId">
                             <input matInput placeholder="Biller ID"  [(ngModel)]="caseInfo.tableSof.billerCode">
                         </mat-form-field>
                         <mat-form-field class="type">
                           <mat-select placeholder="Type" [(value)]="caseInfo.tableCase.xCaseType">
                             <mat-option *ngFor="let typeValue of types" [value]="typeValue">{{typeValue}}</mat-option>
                           </mat-select>
                         </mat-form-field>
                       </span>
                     <!-- </div> -->
                     <!-- <div> -->
                       <span>
                         <mat-form-field class="subType">
                           <mat-select placeholder="Sub Type"  [(value)]="caseInfo.tableCase.xCaseSubtype">
                             <mat-option *ngFor="let subTypeValue of subTypes" [value]="subTypeValue">{{subTypeValue}}</mat-option>
                            </mat-select>
                         </mat-form-field>

                         <!-- <mat-form-field class="prioritySeverity">
                           <mat-select placeholder="Priority/Severity" [(value)]="caseInfo.tableCase.prioritySeverity">
                             <mat-option *ngFor="let prioritySeverityValue of priorityAndSeverity">{{prioritySeverityValue}}</mat-option>
                           </mat-select>
                         </mat-form-field> -->
                       </span>
                     <!-- </div> -->
                     <div class="case_btns">
                         <button mat-raised-button	class="btn_ellipsis" (click)="openDialog()">...</button>
                         <!-- <div><button mat-raised-button	class="btn_catch_all">Catch All</button></div> -->
                         <!-- <button mat-raised-button	class="btn_site_details">Site Details</button>
                         <button mat-raised-button	class="btn_contact_details">Contact Details</button> -->
                     </div>
                
                </mat-expansion-panel>
    
          <!-- customer information pannel -->
              <mat-expansion-panel class="pannelMain pannel_2" [expanded]="true" hideToggle="false">
                  <mat-expansion-panel-header class="pannelHead" [collapsedHeight]="MAT_TAB_COLLAPSED_HEIGHT" [expandedHeight]="MAT_TAB_EXPANDED_HEIGHT">
                    <mat-panel-title>
                      Customer information
                    </mat-panel-title>
                
                  </mat-expansion-panel-header>                
                     <br>
          
                  <div>
                      <!-- Address and Room/Floor  -->
                       <span>
                          <mat-form-field class="address">
                              <input matInput placeholder="Address" [(ngModel)]="caseInfo.tableAddress.address">
                          </mat-form-field>
                        
                          <mat-form-field class="RoomFloor">
                              <input matInput placeholder="Room/Floor" [(ngModel)]="roomAndFloor">
                          </mat-form-field>
                        </span>
                      </div>

                      <div>
                          <!-- City and state  -->
                           <span>
                              <mat-form-field class="city">
                                  <input matInput placeholder="City" [(ngModel)]="caseInfo.tableAddress.city">
                              </mat-form-field>
                            
                              <mat-form-field class="state">
                                  <input matInput placeholder="state" [(ngModel)]="caseInfo.tableAddress.state">
                              </mat-form-field>
                            </span>
                          </div>

                          <div>
                              <!-- country and zipcode  -->
                               <span>
                                  <mat-form-field class="country">
                                      <input matInput placeholder="Country" [(ngModel)]="caseInfo.tableAddress.xCountry">
                                  </mat-form-field>
                                
                                  <mat-form-field class="zipcode">
                                      <input matInput placeholder="Zipcode" [(ngModel)]="caseInfo.tableAddress.zipcode">
                                  </mat-form-field>
                                </span>
                              </div>


                  
                </mat-expansion-panel>
    
                <!-- more info pannel -->
                <mat-expansion-panel [expanded]="true" class="pannel_3">
                    <mat-expansion-panel-header [collapsedHeight]="MAT_TAB_COLLAPSED_HEIGHT" [expandedHeight]="MAT_TAB_EXPANDED_HEIGHT">
                      <mat-panel-title>
                        More Info
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                       <br>
                        <span>
                          <mat-form-field class="project">
                            <input matInput placeholder="Project #" [(ngModel)]="caseInfo.tableCase.xProjectNum">
                          </mat-form-field>
                          
                          <mat-form-field class="serviceIndicator">
                            <mat-select placeholder="Service Indicator" [(value)]="caseInfo.tableCase.xServiceIndicator">
                              <mat-option *ngFor="let serviceIndicatorValue of serviceIndicators" [value]="serviceIndicatorValue">{{serviceIndicatorValue}}</mat-option>
                            </mat-select>
                          </mat-form-field>
                        </span>
                                
                        <span>
                          <mat-form-field class="salesOffer">
                            <mat-select placeholder="Sales Offer" [(value)]="caseInfo.tableSof.salesOffer">
                              <mat-option *ngFor="let salesOfferValue of salesOffers" [value]="salesOfferValue">{{salesOfferValue}}</mat-option>
                            </mat-select>
                          </mat-form-field> 
                          
                          <mat-form-field class="custQualifier">
                            <mat-select placeholder="Cust Qualifier" [(value)]="caseInfo.tableSite.xCustSubType">
                              <mat-option *ngFor="let custQualifierValue of custQualifiers" [value]="custQualifierValue">{{custQualifierValue}}</mat-option>
                            </mat-select>
                          </mat-form-field>
                        </span>
                            
                        <span>
                          <mat-form-field class="origin">
                            <mat-select placeholder="Origin" [(value)]="caseInfo.tableCase.xOrigin">
                              <mat-option *ngFor="let originValue of origins" [value]="originValue">{{originValue}}</mat-option>
                            </mat-select>
                          </mat-form-field>
                          
                          <mat-form-field class="custPremises">
                            <mat-select placeholder="Cust Premises" [(value)]="caseInfo.tableSite.premisesLocation">
                              <mat-option *ngFor="let custPremisesValue of custPremises" [value]="custPremisesValue">{{custPremisesValue}}</mat-option>
                            </mat-select>
                          </mat-form-field>

                          <!-- <button mat-raised-button (click)="moreInfoDetails('close')"	class="btn_close">close</button> -->
                        </span>
              </mat-expansion-panel>
      
                 </mat-accordion>
                 </div>
                 <div class="matExpansionPannel_right">
                  <mat-accordion class="example-headers-align">
                    <!-- cases notes pannel -->
                    <button id="btn1" mat-raised-button (click)="changeComp(3);" color="primary">BRASS</button>&nbsp;
                    <button id="btn1" mat-raised-button (click)="changeComp(5);" color="primary">Commitment Log</button>&nbsp;
                    <button id="btn1" mat-raised-button (click)="changeComp(6);" color="primary">Select Commitments</button>&nbsp;
                    <button id="btn1" mat-raised-button (click)="changeComp(7);" color="primary">HSIA Info</button>&nbsp;
                    <mat-expansion-panel class="pannel_4">
                        <mat-expansion-panel-header [collapsedHeight]="MAT_TAB_COLLAPSED_HEIGHT" [expandedHeight]="MAT_TAB_EXPANDED_HEIGHT">
                          <mat-panel-title>
                            Case Notes
                          </mat-panel-title>
                        </mat-expansion-panel-header>
                    
                        <mat-form-field>
                          <input matInput placeholder="First name">
                        </mat-form-field>
                    
                        <mat-form-field>
                          <input matInput placeholder="Age">
                        </mat-form-field>
                      </mat-expansion-panel>
      
                      <!-- planner  pannel -->
                      <mat-expansion-panel class="pannel_5">
                          <mat-expansion-panel-header [collapsedHeight]="MAT_TAB_COLLAPSED_HEIGHT" [expandedHeight]="MAT_TAB_EXPANDED_HEIGHT">
                            <mat-panel-title>
                              Planner
                            </mat-panel-title>
                            <!-- <mat-panel-description>
                              Tap the pannel to view details
                            </mat-panel-description> -->
                          </mat-expansion-panel-header>
                      
                          <mat-form-field>
                            <input matInput placeholder="First name">
                          </mat-form-field>
                      
                          <mat-form-field>
                            <input matInput placeholder="Age">
                          </mat-form-field>
                        </mat-expansion-panel>
      
                        <!-- activity log pannel -->
                        <mat-expansion-panel class="pannel_6">
                            <mat-expansion-panel-header [collapsedHeight]="MAT_TAB_COLLAPSED_HEIGHT" [expandedHeight]="MAT_TAB_EXPANDED_HEIGHT">
                              <mat-panel-title>
                                Activity log
                              </mat-panel-title>
                              <!-- <mat-panel-description>
                                Tap the pannel to view details
                              </mat-panel-description> -->
                            </mat-expansion-panel-header>
                           <bbw-activity-log [caseInfo]="caseInfo"></bbw-activity-log>
                          </mat-expansion-panel>
      
                          <!-- service information pannel -->
                          <mat-expansion-panel class="pannel_7">
                              <mat-expansion-panel-header [collapsedHeight]="MAT_TAB_COLLAPSED_HEIGHT" [expandedHeight]="MAT_TAB_EXPANDED_HEIGHT">
                                <mat-panel-title>
                                  Service Information
                                </mat-panel-title>
                                <!-- <mat-panel-description>
                                  Tap the pannel to view details
                                </mat-panel-description> -->
                              </mat-expansion-panel-header>
                          
                              <div class="service_div_one">
                                <span class="serviceCircuit">CIRCUIT INFOMATION</span>
                                <span class="serviceSubscribed">SUBSCRIBED OPTIONS</span>
                              </div>
                              <div class="service_div_two">
                                  <span>
                                      <span class="serviceProvider">PROVIDER INFOMATION</span>
                                  </span>
                                  <span>
                                      <button mat-raised-button	class="btn_one">Add Service</button>
                                      <button mat-raised-button	class="btn_two">Modify Service</button>
                                      <button mat-raised-button	class="btn_three">Billing</button><br>
                                      <button mat-raised-button	class="btn_four">BRASS</button>
                                      <button mat-raised-button	class="btn_five">View IPs</button>
                                      <button mat-raised-button	class="btn_six">HSIA</button>
                                      <button mat-raised-button	class="btn_seven">View CPE</button>
                                  </span>
                                </div>
                                
                                <div class="service_div_three">
                                   IP INFORMATION
                                  </div>
                            </mat-expansion-panel>
      
                            <!-- billing pannel -->
                            <mat-expansion-panel class="pannel_8">
                                <mat-expansion-panel-header [collapsedHeight]="MAT_TAB_COLLAPSED_HEIGHT" [expandedHeight]="MAT_TAB_EXPANDED_HEIGHT">
                                  <mat-panel-title>
                                    Billing
                                  </mat-panel-title>
                                  <!-- <mat-panel-description>
                                    Tap the pannel to view details
                                  </mat-panel-description> -->
                                </mat-expansion-panel-header>
                            
                                <mat-form-field>
                                  <input matInput placeholder="First name">
                                </mat-form-field>
                            
                                <mat-form-field>
                                  <input matInput placeholder="Age">
                                </mat-form-field>
                              </mat-expansion-panel>
                              <mat-expansion-panel class="pannel_9">
                                <mat-expansion-panel-header [collapsedHeight]="MAT_TAB_COLLAPSED_HEIGHT" [expandedHeight]="MAT_TAB_EXPANDED_HEIGHT">
                                  <mat-panel-title>
                                    Comm History
                                  </mat-panel-title>
                                  </mat-expansion-panel-header>
                                  <bbw-comm-history [caseInfo]="caseInfo"></bbw-comm-history>
                                  </mat-expansion-panel>
          </mat-accordion>      
    </div>
    <!-- </div> -->