.caseHeader{
    margin-right: 2%;
    margin-top: 1%;
    margin-left: 2%;
    height: 35px;
    width: 96%;
    background-color: #3f51b5;
    color: white;
    font-size: 11pt;
  }
  
  .caseActions{
    margin-left: 36%;
  }
  
  p{
    margin-left: 3%;
    font-size: 9pt;
  }
  
  .caesIdTabs{
    margin-left: 2%;
    margin-right: 2%;
  }
  .example-headers-align{
    width:80%;
  }
  .example-headers-align .mat-expansion-panel-header{
    flex-basis:0;
    background-color: #3f51b5;
  }
  
  .mat-expansion-panel-header-description , .mat-expansion-panel-header-title{
    justify-content: space-between;
    align-items: center;
    color: white;
  }

  .mat-expansion-panel .mat-expansion-panel-header:hover{
    background-color:#3f51b5;
  }
  
  .service_div_one{
    margin: 1%;
  }
  
  .serviceCircuit{
    color: #3f51b5;
    margin-left: 1%;
  }
  
  .serviceSubscribed{
    color: #3f51b5;
    margin-left: 50%;
  }
  
  .serviceProvider{
    color: #3f51b5;
    margin-left: 2%;
  }
  
  
  /* mat-raised-button{
    width: 30px;
  } */
  .service_div_two{
    margin-top: 2%;
    margin-left: 0%;
  }
  .btn_one{
    margin-left: 25%;
    width: 15%;
    background-color: #3f51b5;
    color: white;
  }
  .btn_two,.btn_three,.btn_six{
    margin-left: 3%;
    width: 15%;
    background-color: #3f51b5;
    color: white;
  }
  
  .btn_four{
    margin: 2%;
    margin-left: 47%;
    width: 15%;
    background-color: #3f51b5;
    color: white;
  }
  .btn_five{
    margin-left: 1%;
    width: 15%;
    background-color: #3f51b5;
    color: white;
  }
  
  .btn_seven{
    margin-left: 47%;
    width: 15%;
    background-color: #3f51b5;
    color: white;
  }
  
  .service_div_three{
    margin-top: 2%;
    margin-left: 2%;
    color: #3f51b5;
    width: 20%;
    height: 20%;
    border-color: 1px solid black;
  } 
  
  .matExpansionPannel_left{
    margin-left: 2%;
    margin-right: 2%;
    margin-top:1%;
    width: 35%;
    display: inline-block;
  }
  
  
  .matExpansionPannel_right{
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 0%;
    margin-bottom: 3%;
    width: 56%;
    float: right;
    
  }
  mat-expansion-panel-header{
    background-color: #3f51b5;
    color: white;
  }
  
  mat-panel-title{
    color: white;
  }
  
  .pannel_2,.pannel_3{
    margin-top: 3%;
  }
  
  .pannel_4{
    margin-top: 2%;
  }
  
  .pannel_5,.pannel_6,.pannel_7,.pannel_8,.pannel_9{
    margin-top: 2%;
  }
  
  .row_one{
    margin: 1%;
  }
  .row_one,.row_three,.row_five,.row_seven,.row_nine{
    background-color: lightgray;
    height: 46px;
  }

  label{
    font-weight: bold;
  }

  mat-form-field input{
    color: black;
  }
  /* case details field styles */
  .custId{
    margin-left: 20%;
    width: 60%;
  }
  .casetitle{
    margin-left: 17%;
    width: 60%;
  }
  .name{
    margin-left: 23%;
    width: 60%;
  }
  .reportedBy{
    margin-left: 5%;
    width: 60%;
  }
  .mainPhone{
    margin-left: 13%;
    width: 60%;
  }
  .email{
    margin-left: 22%;
    width: 60%;
  }
  .billerId{
    margin-left: 18%;
    width: 60%;
  }
  .type{
    margin-left: 22%;
    width: 60%;
  }
  .subType{
    margin-left: 16%;
    width: 60%;
  }
  .prioritySeverity{
    margin-left: 6%;
    width: 60%;
  }

  /* customer info field styles */
  .altName{
    margin-left: 5%;
    width: 55%;
  }
  .altPhone{
    margin-left: 5%;
    width: 55%;
  }
  .address{
    margin-left: 21%;
    width: 55%;
  }
  .roomFloor{
    margin-left:15%;
    width: 55%;
  }
  .city{
    margin-left: 28%;
    width: 60%;
  }
  .state{
    margin-left: 26%;
    width: 60%;
  }
  .country{
    margin-left: 21%;
    width: 60%;
  }
  .zipcode{
    margin-left: 22%;
    width: 60%;
  }
  .pager{
    margin-left: 25%;
    width: 60%;
  }
  .fax{
    margin-left: 28%;
    width: 60%;
  }

  /* case info other detail field styles */
  .queue{
    margin-left: 12%;
    width: 70%;
  }
  .wipBin{
    margin-left: 11%;
    width: 70%;
  }
  .owner{
    margin-left: 12%;
    width: 70%;
  }
  .condition{
    margin-left: 7%;
    width: 70%;
  }
  .status{
    margin-left: 12%;
    width: 70%;
  }
  .createDate{
    margin-left: 4%;
    width: 70%;
  }
  .workCenter{
    margin-left: 4%;
    width: 70%;
  }

  .btn_site_details,.btn_contact_details{
    margin-left: 13%;
    background-color: #3f51b5;
    color: white;
  
  }

  .btn_more_info{
    background-color: #3f51b5;
    color: white;
  
  }
  
  
  
  
  
  
  
  
  
  
  
