  <!-- <mat-toolbar style="height: 35px;">
    <span>CASE INFO : {{caseInfo.caseId}}</span>&nbsp;&nbsp;&nbsp;
  </mat-toolbar> --><br>
    <div class="matExpansionPannel_left">
        <mat-accordion class="example-headers-align">

          
              <!-- case details pannel -->
              <mat-expansion-panel class="pannel_1" [expanded]="true">
                  <mat-expansion-panel-header [collapsedHeight]="MAT_TAB_COLLAPSED_HEIGHT" [expandedHeight]="MAT_TAB_EXPANDED_HEIGHT">
                    <mat-panel-title>
                      Case Details
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                 
                  <div class="row_one">
                      <label>Cust ID : </label>
                      <mat-form-field class="custId">
                          <input matInput [(ngModel)]="caseInfo.tableSite.siteId" [disabled]="true">
                      </mat-form-field>
                  </div>
                  
                  <div>
                      <label>Case title : </label>
                      <mat-form-field class="casetitle">
                          <input matInput [(ngModel)]="caseInfo.tableCase.title">
                      </mat-form-field>
                  </div>
                  
                  <div class="row_three">
                    <label>Name : </label>
                    <mat-form-field class="name">
                      <input matInput [(ngModel)]="caseInfo.tableSite.xCustLegalName" [disabled]="true">
                    </mat-form-field>
                  </div>
                  
                  <div>
                    <label>Reported By(F/L) : </label>
                    <mat-form-field class="reportedBy">
                      <input matInput  [(ngModel)]="fullName" [disabled]="true"> 
                    </mat-form-field>
                  </div>
                    
                     <div class="row_five">
                       <label>Main Phone : </label>
                         <mat-form-field class="mainPhone">
                             <input matInput [(ngModel)]="caseInfo.tableContact.phone" [disabled]="true">
                         </mat-form-field>
                     </div>
                    
                     <div>
                       <label>Email : </label>
                        <mat-form-field class="email">
                            <input matInput  [(ngModel)]="caseInfo.tableContact.email" [disabled]="true">
                        </mat-form-field>
                     </div>
                    
                     <div class="row_seven">
                       <label>Biller ID : </label>
                       <mat-form-field class="billerId">
                             <input matInput  [(ngModel)]="caseInfo.tableSof.billerCode" [disabled]="true">
                         </mat-form-field>
                     </div>
                     <div>
                       <label>Type : </label>
                        <mat-form-field class="type">
                            <mat-select  [(value)]="caseInfo.tableCase.xcaseType" [disabled]="true">
                              <mat-option *ngFor="let typeValue of types" [value]="typeValue">{{typeValue}}</mat-option>
                            </mat-select>
                          </mat-form-field>
                     </div>
                     <div class="row_nine">
                       <label>Sub Type : </label>
                         <mat-form-field class="subType">
                           <mat-select [(value)]="caseInfo.tableCase.xcaseSubtype">
                             <mat-option *ngFor="let subTypeValue of subTypes" [value]="subTypeValue">{{subTypeValue}}</mat-option>
                            </mat-select>
                         </mat-form-field>
                    </div>
                    <div>
                      <label>Priority/Severity : </label>
                        <mat-form-field class="prioritySeverity">
                          <mat-select [(value)]="caseInfo.tableCase.prioritySeverity">
                            <mat-option *ngFor="let prioritySeverityValue of priorityAndSeverity">{{prioritySeverityValue}}</mat-option>
                          </mat-select>
                        </mat-form-field>
                     </div>
                     <div class="case_btns">
                         <button mat-raised-button	class="btn_more_info" (click)="openDialog()">More Info</button>
                         <!-- <div><button mat-raised-button	class="btn_catch_all">Catch All</button></div> -->
                         <button mat-raised-button	class="btn_site_details">Site Details</button>
                         <button mat-raised-button	class="btn_contact_details">Contact Details</button>
                     </div>
                
                </mat-expansion-panel>
    
          <!-- customer information pannel -->
              <mat-expansion-panel class="pannelMain pannel_2" hideToggle="false">
                  <mat-expansion-panel-header class="pannelHead" [collapsedHeight]="MAT_TAB_COLLAPSED_HEIGHT" [expandedHeight]="MAT_TAB_EXPANDED_HEIGHT">
                    <mat-panel-title>
                      Customer information
                    </mat-panel-title>
                  </mat-expansion-panel-header>

                  <!-- Address and Room/Floor  -->         
                  <div class="row_one">
                    <label>Address : </label>
                      <mat-form-field class="address">
                          <input matInput [(ngModel)]="caseInfo.tableAddress.address" [disabled]="true">
                      </mat-form-field>
                  </div>
                  <div>
                    <label>Room / Floor : </label>
                      <mat-form-field class="roomFloor">
                          <input matInput [(ngModel)]="roomAndFloor" [disabled]="true">
                      </mat-form-field>
                  </div>  
                  <!-- City and state  -->
                  <div class="row_three">
                    <label>City : </label>
                      <mat-form-field class="city">
                        <input matInput [(ngModel)]="caseInfo.tableAddress.city" [disabled]="true">
                      </mat-form-field>
                  </div>
                  <div>
                    <label>State : </label>
                    <mat-form-field class="state">
                        <input matInput [(ngModel)]="caseInfo.tableAddress.state" [disabled]="true">
                    </mat-form-field>
                  </div>

                  <!-- country and zipcode  -->
                  <div class="row_five">
                    <label>Country : </label>
                    <mat-form-field class="country">
                        <input matInput  [(ngModel)]="caseInfo.tableAddress.xCountry" [disabled]="true">
                    </mat-form-field>
                  </div>
                  <div>
                    <label>Zipcode : </label>
                    <mat-form-field class="zipcode">
                        <input matInput [(ngModel)]="caseInfo.tableAddress.zipcode" [disabled]="true">
                    </mat-form-field>
                  </div>
              </mat-expansion-panel>
    
                <!-- case info other details pannel -->
                <mat-expansion-panel class="pannel_3">
                    <mat-expansion-panel-header [collapsedHeight]="MAT_TAB_COLLAPSED_HEIGHT" [expandedHeight]="MAT_TAB_EXPANDED_HEIGHT">
                      <mat-panel-title>
                       Case Info : Other Details
                      </mat-panel-title>
                    </mat-expansion-panel-header>

                    <div class="row_one">
                        <label>Queue : </label>
                        <mat-form-field class="queue">
                            <input matInput [(ngModel)]="caseInfo.tableQueue.title" [disabled]="true">
                        </mat-form-field>
                    </div>

                    <div>
                      <label>WIPBin : </label>
                      <mat-form-field class="wipBin">
                          <input matInput [(ngModel)]="caseInfo.tableWipbin.title" [disabled]="true">
                      </mat-form-field>
                    </div>

                    <div class="row_three">
                        <label>Owner : </label>
                        <mat-form-field class="owner">
                            <input matInput [(ngModel)]="caseInfo.tableUser.loginName" [disabled]="true">
                        </mat-form-field>
                    </div>

                    <div>
                      <label>Condition : </label>
                      <mat-form-field class="condition">
                          <input matInput [(ngModel)]="caseInfo.tableCondition.title" [disabled]="true">
                      </mat-form-field>
                    </div>

                    <!-- add textarea as field -->
                    <div class="row_five">
                        <label>Status : </label>
                        <mat-form-field class="status">
                            <input matInput [(ngModel)]="caseInfo.tableGbstElm.title" [disabled]="true">
                        </mat-form-field>
                    </div>

                    <div>
                      <label>Create Date : </label>
                      <mat-form-field class="createDate">
                          <input matInput [(ngModel)]="caseInfo.tableCase.creationTime" [disabled]="true">
                      </mat-form-field>
                    </div>

                    <div class="row_seven">
                        <label>WorkCenter : </label>
                        <mat-form-field class="workCenter">
                            <input matInput [(ngModel)]="caseInfo.tableCase.xWorkCenter">
                        </mat-form-field>
                    </div> 

              </mat-expansion-panel>
      
                 </mat-accordion>
                 </div>
                 <div class="matExpansionPannel_right">
                  <mat-accordion class="example-headers-align">
                    <!-- cases notes pannel -->
                    <button id="btn1" mat-raised-button (click)="changeComp(3);" color="primary">BRASS</button>&nbsp;
                    <!-- <button id="btn1" mat-raised-button (click)="changeComp(5);" color="primary">Commitment Log</button>&nbsp;
                    <button id="btn1" mat-raised-button (click)="changeComp(6);" color="primary">Select Commitments</button>&nbsp;
                    <button id="btn1" mat-raised-button (click)="changeComp(7);" color="primary">HSIA Info</button>&nbsp; -->
                    <mat-expansion-panel class="pannel_4">
                        <mat-expansion-panel-header [collapsedHeight]="MAT_TAB_COLLAPSED_HEIGHT" [expandedHeight]="MAT_TAB_EXPANDED_HEIGHT">
                          <mat-panel-title>
                            Case Notes
                          </mat-panel-title>
                        </mat-expansion-panel-header>
                    
                        <mat-form-field>
                          <input matInput placeholder="First name">
                        </mat-form-field>
                    
                        <mat-form-field>
                          <input matInput placeholder="Age">
                        </mat-form-field>
                      </mat-expansion-panel>
      
                      <!-- planner  pannel -->
                      <mat-expansion-panel class="pannel_5">
                          <mat-expansion-panel-header [collapsedHeight]="MAT_TAB_COLLAPSED_HEIGHT" [expandedHeight]="MAT_TAB_EXPANDED_HEIGHT">
                            <mat-panel-title>
                              Planner
                            </mat-panel-title>
                            <!-- <mat-panel-description>
                              Tap the pannel to view details
                            </mat-panel-description> -->
                          </mat-expansion-panel-header>
                      
                          <mat-form-field>
                            <input matInput placeholder="First name">
                          </mat-form-field>
                      
                          <mat-form-field>
                            <input matInput placeholder="Age">
                          </mat-form-field>
                        </mat-expansion-panel>
      
                        <!-- activity log pannel -->
                        <mat-expansion-panel class="pannel_6">
                            <mat-expansion-panel-header [collapsedHeight]="MAT_TAB_COLLAPSED_HEIGHT" [expandedHeight]="MAT_TAB_EXPANDED_HEIGHT">
                              <mat-panel-title>
                                Activity log
                              </mat-panel-title>
                              <!-- <mat-panel-description>
                                Tap the pannel to view details
                              </mat-panel-description> -->
                            </mat-expansion-panel-header>
                           <bbw-activity-log [caseInfo]="caseInfo"></bbw-activity-log>
                          </mat-expansion-panel>
      
                          <!-- service information pannel -->
                          <mat-expansion-panel class="pannel_7">
                              <mat-expansion-panel-header [collapsedHeight]="MAT_TAB_COLLAPSED_HEIGHT" [expandedHeight]="MAT_TAB_EXPANDED_HEIGHT">
                                <mat-panel-title>
                                  Service Information
                                </mat-panel-title>
                                <!-- <mat-panel-description>
                                  Tap the pannel to view details
                                </mat-panel-description> -->
                              </mat-expansion-panel-header>
                          
                              <div class="service_div_one">
                                <span class="serviceCircuit">CIRCUIT INFOMATION</span>
                                <span class="serviceSubscribed">SUBSCRIBED OPTIONS</span>
                              </div>
                              <div class="service_div_two">
                                  <span>
                                      <span class="serviceProvider">PROVIDER INFOMATION</span>
                                  </span>
                                  <span>
                                      <button mat-raised-button	class="btn_one">Add Service</button>
                                      <button mat-raised-button	class="btn_two">Modify Service</button>
                                      <button mat-raised-button	class="btn_three">Billing</button><br>
                                      <button mat-raised-button	class="btn_four">BRASS</button>
                                      <button mat-raised-button	class="btn_five">View IPs</button>
                                      <button mat-raised-button	class="btn_six">HSIA</button>
                                      <button mat-raised-button	class="btn_seven">View CPE</button>
                                  </span>
                                </div>
                                
                                <div class="service_div_three">
                                   IP INFORMATION
                                  </div>
                            </mat-expansion-panel>
      
                            <!-- billing pannel -->
                            <mat-expansion-panel class="pannel_8">
                                <mat-expansion-panel-header [collapsedHeight]="MAT_TAB_COLLAPSED_HEIGHT" [expandedHeight]="MAT_TAB_EXPANDED_HEIGHT">
                                  <mat-panel-title>
                                    Billing
                                  </mat-panel-title>
                                  <!-- <mat-panel-description>
                                    Tap the pannel to view details
                                  </mat-panel-description> -->
                                </mat-expansion-panel-header>
                            
                                <mat-form-field>
                                  <input matInput placeholder="First name">
                                </mat-form-field>
                            
                                <mat-form-field>
                                  <input matInput placeholder="Age">
                                </mat-form-field>
                              </mat-expansion-panel>
                              <mat-expansion-panel class="pannel_9">
                                <mat-expansion-panel-header [collapsedHeight]="MAT_TAB_COLLAPSED_HEIGHT" [expandedHeight]="MAT_TAB_EXPANDED_HEIGHT">
                                  <mat-panel-title>
                                    Comm History
                                  </mat-panel-title>
                                  </mat-expansion-panel-header>
                                  <bbw-comm-history [caseInfo]="caseInfo"></bbw-comm-history>
                                  </mat-expansion-panel>
          </mat-accordion>      
    </div>
    <!-- </div> -->