<div class="hsia">  
    <fieldset class="hsiaFieldset">
      <legend>HSIA</legend>
      <label>HSIA Order Status :</label>
      <span style="margin-left:30%">
        <mat-form-field>
            <input matInput>
        </mat-form-field>
    </span><br>
    <label>HSIA Order Due Date :</label>
    <span style="margin-left:30%">
      <mat-form-field>
          <input matInput>
      </mat-form-field>
    </span><br>
    <label>HSIA Order Number :</label>
    <span style="margin-left:30%">
      <mat-form-field>
          <input matInput>
      </mat-form-field>
    </span><br>
    <label>HSIA Order uBan :</label>
    <span style="margin-left:30%">
      <mat-form-field>
          <input matInput>
      </mat-form-field>
    </span><br>
    <label>Network Transport Type :</label>
    <span style="margin-left:30%">
      <mat-form-field>
          <input matInput>
      </mat-form-field>
    </span><br>
    <label>Sub Transport Type :</label>
    <span style="margin-left:30%">
      <mat-form-field>
          <input matInput>
      </mat-form-field>
    </span><br>
    <label>Full Tech Install Indicator :</label>
    <span style="margin-left:30%">
      <mat-form-field>
          <input matInput>
      </mat-form-field>
    </span><br>
    <label>Inside Wiring Indicator :</label>
    <span style="margin-left:30%">
      <mat-form-field>
          <input matInput>
      </mat-form-field>
    </span><br>
    <label>Inside Wiring Type :</label>
    <span style="margin-left:30%">
      <mat-form-field>
          <input matInput>
      </mat-form-field>
    </span><br>
    <label>HSIA Due Date :</label>
    <span style="margin-left:30%">
      <mat-form-field>
          <input matInput>
      </mat-form-field>
    </span><br>
    <label>HSIA-E CPE Choice :</label>
    <span style="margin-left:30%">
      <mat-form-field>
          <input matInput>
      </mat-form-field>
    </span>
    </fieldset>
  
</div>
