<div class="header">
  <p>Select Commitment :</p>
</div>
<div>
  List Commitments whose
  <span class="planner">Planner :
    <mat-form-field class="plannerText">
      <input matInput>
    </mat-form-field>
  </span>
</div>

<div>
  <span class="sideLeft">
    <mat-form-field>
      <mat-select [(ngModel)]="firstOrderSelected" (ngModelChange)=setDefault($event)>
        <mat-option *ngFor="let firstOrder of firstOrders" [value]="firstOrder">{{firstOrder}}</mat-option>
      </mat-select>
    </mat-form-field>
  </span>
  <span class="sideMiddle">
    <mat-form-field>
      <mat-select [(ngModel)]="secondOrderSelected">
        <mat-option *ngFor="let secondOrder of secondOrders" [value]="secondOrder">{{secondOrder}}</mat-option>
      </mat-select>
    </mat-form-field>
  </span>
  <span class="datePicker">
    <mat-form-field *ngIf="firstOrderSelected != 'Commit Date'">
      <input matInput [(ngModel)]="userTextInput">
    </mat-form-field>
    <mat-form-field *ngIf="firstOrderSelected == 'Commit Date';">
      <input matInput [matDatepicker]="picker" [(ngModel)]="userInput">
      <mat-datepicker-toggle matSuffix [for]="picker" [disabled]="firstOrderSelected != 'Commit Date'"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </span>
  <span class="sideRight">
    <mat-form-field>
      <mat-select [(ngModel)]="thirdList">
        <mat-option *ngFor="let thirdOrder of thirdOrders" [value]="thirdOrder">{{thirdOrder}}</mat-option>
      </mat-select>
    </mat-form-field>
  </span>
  <span class="showListBtn">
    <button mat-raised-button color="primary" (click)="showListClick()">Show List</button>
  </span>
</div>
<br><br><br>

<!--Mat Table-->
<div class="grid-container">
  <div class="data-table">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <!-- Position Column -->
      <ng-container matColumnDef="Title">
        <th mat-header-cell *matHeaderCellDef> Title </th>
        <td mat-cell *matCellDef="let selectCommit"> {{selectCommit.title}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="Warning Date">
        <th mat-header-cell *matHeaderCellDef> Warning Date </th>
        <td mat-cell *matCellDef="let selectCommit"> {{selectCommit.warningDate}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="Commit Date">
        <th mat-header-cell *matHeaderCellDef> Commit Date </th>
        <td mat-cell *matCellDef="let selectCommit"> {{selectCommit.commitDate}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="Condition">
        <th mat-header-cell *matHeaderCellDef> Condition </th>
        <td mat-cell *matCellDef="let selectCommit"> {{selectCommit.condition}} </td>
      </ng-container>

      <ng-container matColumnDef="Original Date">
        <th mat-header-cell *matHeaderCellDef> Original Date </th>
        <td mat-cell *matCellDef="let selectCommit"> {{selectCommit.originalDate}} </td>
      </ng-container>

      <ng-container matColumnDef="Complete Date">
        <th mat-header-cell *matHeaderCellDef> Complete Date </th>
        <td mat-cell *matCellDef="let selectCommit"> {{selectCommit.completeDate}} </td>
      </ng-container>
      <ng-container matColumnDef="Organization/Function">
        <th mat-header-cell *matHeaderCellDef> Organization/Function </th>
        <td mat-cell *matCellDef="let selectCommit"> {{selectCommit}} </td>
      </ng-container>
      <ng-container matColumnDef="Problem Description">
        <th mat-header-cell *matHeaderCellDef> Problem Description </th>
        <td mat-cell *matCellDef="let selectCommit"> {{selectCommit}} </td>
      </ng-container>
      <ng-container matColumnDef="Location Information">
        <th mat-header-cell *matHeaderCellDef> Location Information </th>
        <td mat-cell *matCellDef="let selectCommit"> {{selectCommit}} </td>
      </ng-container>
      <ng-container matColumnDef="Information Status">
        <th mat-header-cell *matHeaderCellDef> Information Status </th>
        <td mat-cell *matCellDef="let selectCommit"> {{selectCommit}} </td>
      </ng-container>
      <ng-container matColumnDef="Task Workable">
        <th mat-header-cell *matHeaderCellDef> Task Workable </th>
        <td mat-cell *matCellDef="let selectCommit"> {{selectCommit.completeDate}} </td>
      </ng-container>
      <ng-container matColumnDef="Offset">
        <th mat-header-cell *matHeaderCellDef> Offset </th>
        <td mat-cell *matCellDef="let selectCommit"> {{selectCommit.of}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'highlight': selectedAct == row}"
        (click)="setClickedRow(row)"></tr>
    </table>
  </div>
</div>
<br><br>
<div>
  <table class="buttonGroup">
    <tr>
      <td><b>Items : </b>{{selectCommitment.length}}</td>
      <td><button class="deleteRecord" mat-raised-button color="primary" (click)="delete()" [disabled]="deleteDisabled">Delete
          Record</button></td>
      <td><button class="reset" mat-raised-button color="primary">Reset</button></td>
      <td><button class="fullfillDate" mat-raised-button color="primary">Fullfill Date</button></td>
      <td><button class="new" mat-raised-button color="primary">New</button></td>
      <td><button class="done" (click)="changeComp(0)" mat-raised-button color="primary">Done</button></td>
    </tr>
  </table>
</div>