<h1 mat-dialog-title>Do You Want to Create SIR ?</h1>
<div>
    <!-- <div mat-dialog-content>
      <p>Do You Want to Create SIR ?</p>  
    </div> -->
    <div mat-dialog-actions>
      <button mat-raised-button color="primary" (click)="onCancelClick()">No Thanks</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <button class="okBtn" mat-raised-button color="primary" (click)="onOkClick()" >Ok</button>
    </div>
    </div>