
 <mat-progress-spinner style="margin-top:15%;left: 45%;z-index:125;" *ngIf="isLoading" color="success" mode="indeterminate"></mat-progress-spinner>


<bbw-header [userInfo]="userInfo"></bbw-header>
<!-- Menu Component -->
<mat-toolbar class="header-main-menu">
    <mat-label class="spaces" color="primary">Case ID:</mat-label>
    <mat-form-field>
        <input class="spaces" maxlength="10" (keyup.enter)="getCaseInfo(caseId);caseId='';" matInput type="text" [(ngModel)]="caseId">
        <!-- <i (click)="getCaseInfo(caseId);caseId=''" class="small icon-arrows-outgoing-call mat-search-icon"></i> -->
    </mat-form-field>&nbsp;&nbsp;
    <button mat-flat-button color="primary" (click)="getCaseInfo(caseId);caseId='';">Open</button>
    <span class="header-fill-remaining-space"></span>
    <button mat-button color="primary" (click)="createCase()"><i class="small icon-controls-subscribe"></i> Create Case</button>
    <button mat-button color="primary"><i class="small icon-people-groupcollaboration"></i> Contacts</button>
    <button mat-button color="primary"><i class="small icon-location-geofence"></i> Sites</button>
    <button mat-button color="primary" (click)="wipBinsSideNav.toggle();"><i class="small icon-content-seriessubscribetablet" ></i> WIP Bins / Queues </button>
    <button mat-button color="primary"><i class="small icon-documents-searchfind" role="img" aria-label=""></i> Advanced Search </button>
    <button color="primary" mat-button [matMenuTriggerFor]="menu"><i class="small icon-content-listguide"></i> Menu</button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item>Apps</button>
        <button mat-menu-item>Actions</button>
    </mat-menu>
</mat-toolbar>
<!--Actual content Area-->
<mat-drawer-container class="main-sidenav-queues-wipbins" [hasBackdrop]="true">
    <mat-drawer class="side-nav-width-queues-wipbins" #wipBinsSideNav [mode]="'over'">
        <!--Display Area for Queues and WipBins-->
        <!-- Pending... -->
        <bbw-queues-host></bbw-queues-host>
    </mat-drawer>
    <mat-drawer-content>
        <!--  I am content for case Ids INFO Pending... -->
        <mat-tab-group [selectedIndex]="selectCase" (selectedIndexChange)="setSelected($event)">
            <mat-tab *ngFor="let caseId of caseIdList; let index = index">
                <ng-template mat-tab-label class="strong">
                    {{caseId}} &nbsp;<i class="medium mat-cancel-icon spaces" (click)="removeCase(index)"><strong>X</strong></i>
                </ng-template>
                <bbw-case-host [caseCompItems]="caseCompList"></bbw-case-host>
            </mat-tab>
        </mat-tab-group>
    </mat-drawer-content>

</mat-drawer-container>
