
<mat-grid-list cols="12" rowHeight="100%">
  <mat-grid-tile [colspan]="2" [rowspan]="1.3" class="mat-scroll">
      <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
          <mat-tree-node class="childHover" (click)="getCaseListFor(node.item)" *matTreeNodeDef="let node" matTreeNodePadding>
            &nbsp;{{node.item.title}}
          </mat-tree-node>
          <mat-tree-node class="hostSimple" *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
            <span mat-button matTreeNodeToggle (click)="displayScreen(node.item);">
              <i *ngIf="!treeControl.isExpanded(node)" class="small icon-controls-subscribe"></i>
              <i *ngIf="treeControl.isExpanded(node)" class="small icon-controls-statusokay"></i>
            </span>&nbsp;
            {{node.item}}
            <!-- <mat-progress-bar *ngIf="node.isLoading"
                              mode="indeterminate"
                              class="example-tree-progress-bar"></mat-progress-bar> -->
          </mat-tree-node>
        </mat-tree>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="10" [rowspan]="1.3" class="mat-scroll2">
    <bbw-wipbin-case-list *ngIf="viewWipBinsWindow" [dataToDisplay]="wipBinsCaseListData" ></bbw-wipbin-case-list>
    <bbw-queues-case-list *ngIf="viewQueuesWindow" [dataToDisplay]="queuesCaseListData"></bbw-queues-case-list>
  </mat-grid-tile>
  
</mat-grid-list>
