<div>
    <mat-card>BGATE Error</mat-card>
  <table>
    <tr>
      <td class="custTd">
        <mat-label class="custIdLbl" >Cust ID/Name:</mat-label>
        <mat-form-field class="custIdInpt">
          <input matInput type="text"> 
        </mat-form-field> 
        <mat-form-field class="custNamInpt inptItm">
          <input matInput type="text"> 
        </mat-form-field> 
        <mat-form-field class="custDrop inptItm">
          <mat-select [(ngModel)]="drop">
            <mat-option *ngFor="let drop of selectDrop" [value]="drop">{{drop}}</mat-option> 
          </mat-select>
        </mat-form-field>
        <mat-label class="billerLbl inptItm">Biller ID:</mat-label>
        <mat-form-field class="billerInpt">
          <input matInput type="text"> 
        </mat-form-field> 
      </td>
    </tr>
  </table>
  <div class="errorDiv">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <ng-container matColumnDef="type1">
        <th mat-header-cell *matHeaderCellDef> Error </th>
        <td mat-cell *matCellDef="let queuesCase"> {{queuesCase.oType}} </td>
      </ng-container>
 
      <ng-container matColumnDef="idNumber">
        <th mat-header-cell *matHeaderCellDef> Error Discription </th>
        <td mat-cell *matCellDef="let queuesCase"> {{queuesCase.idNumber}} </td>
      </ng-container>
 
      <ng-container matColumnDef="special">
        <th mat-header-cell *matHeaderCellDef> Error Number</th>
        <td mat-cell *matCellDef="let queuesCase"> {{queuesCase.xSpecialOrder}} </td>
      </ng-container>
 
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Error Status </th>
        <td mat-cell *matCellDef="let queuesCase"> {{queuesCase.name}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row class="result-row" *matRowDef="let row; columns: displayedColumns;"
                                    [ngClass]="{'highlight': selectedTyp == row}"
                                                        (click)="highlight(row)"
                                                        (click)="setClickedRow(row)"></tr>
    </table>
  </div>
  <table>
    <tr>
      <td>
        <mat-label class="recordLbl">Record Type:</mat-label>
        <mat-form-field class="RecordInpt">
          <input matInput type="text"> 
        </mat-form-field> 
        <mat-label class="errorLbl">Error Number:</mat-label>
        <mat-form-field class="errorInpt">
          <input matInput type="text"> 
        </mat-form-field> 
        <!-- <mat-label class="errordesLbl">Error Description:</mat-label>
        <mat-form-field class="errordesInpt">
          <input matInput type="text"> 
        </mat-form-field>  -->
        <button class="errorBtn" (click)="clearDialog()" mat-button>Error Clear</button>
      </td>
    </tr>
  </table>
  <mat-label class="">Error Description:</mat-label>
  <mat-form-field class="errordes">
    <input matInput type="text"> 
  </mat-form-field> 
<table>
  <tr>
    <td class="errorTd"><mat-label>Error Message:</mat-label></td>
    <td>
      <textarea class="textInpt">
      </textarea>
    </td>
    <td class="resubTd">
    <button class="resubBtn" mat-button>RESUBMIT</button>
    </td>
  </tr>
</table>
 
        <!-- <mat-label class="messageLbl">Error Message:</mat-label>
        <textarea class="textInpt">

        </textarea>
        <button class="resubBtn" mat-button>RESUBMIT</button> -->

</div>