
  <mat-toolbar style="height: 35px;" color="primary">
      <mat-icon>home</mat-icon>&nbsp;
      <span>Broadband Workflow</span>
  </mat-toolbar>

  <mat-toolbar class="my-mat-toolbar" color="default">
  <mat-toolbar-row class="my-mat-toolbar">
    <span class="example-input-label"> Open Case: </span>
    <mat-form-field>
      <input matInput type="text" [(ngModel)]="caseId">
    </mat-form-field>
    <mat-icon class="example-add-tab-button mat-search-icon" (click)="queryForCaseIdInfo()">search</mat-icon>
    <!-- To create case ID -->
    <span class="example-input-label"> Create Case: </span>
    <mat-form-field>
      <input matInput type="text">
    </mat-form-field>
    <mat-icon class="example-add-tab-button mat-search-icon">create</mat-icon>
    <div class="button-row">
        <button mat-button color="primary">Contacts <mat-icon>contacts</mat-icon></button>
        <button mat-button color="primary">Sites <mat-icon>web</mat-icon></button>
        <button mat-button color="primary">WIP Bins <mat-icon>work</mat-icon></button>
        <button mat-button color="primary">Queues <mat-icon>queue</mat-icon></button>
        <button mat-button color="primary">Advanced Search <mat-icon>search</mat-icon></button>
      </div>
  </mat-toolbar-row>
  </mat-toolbar>
  
  <mat-tab-group [selectedIndex]="caseIdService.selectedCaseInfo"
                 (selectedIndexChange)="setSelected($event)">
    <mat-tab *ngFor="let tabData of caseIdService.retrievedCaseInfo; let index = index">
      <ng-template mat-tab-label>
        {{tabData.caseId}} &nbsp;<mat-icon class="mat-cancel-icon" (click)="removeTab(index)">clear</mat-icon>
      </ng-template>
      <mat-toolbar style="height: 35px;">
        <span>CASE INFO : {{tabData.caseId}}</span>&nbsp;&nbsp;&nbsp;
        <!-- <mat-icon (click)="goBack();" class="mat-search-icon">arrow_back</mat-icon> -->
      </mat-toolbar>
      <!-- <router-outlet></router-outlet> -->
      <bbw-base-comp></bbw-base-comp>
    </mat-tab>
  </mat-tab-group>




  
