.headerTitle{
    background-color: #3f51b5;
    color: white;
}

mat-dialog-content{
    width: 40%;
    height: 50%;
}
.prioritySeverity{
  /* background-color: lightgray; */
  margin-left: 7%;
  width: 65%;
}
.row_one,.row_three,.row_five,.row_seven{
    /* margin: 1%; */
    background-color: lightgray;
    height: 48px;
  }

  .closeBtn{
    margin-left: 35%;
    background-color: #3f51b5;
    color: white;
  }

  .project{
    margin-left: 18%;
     width: 63%;
  }
  .serviceIndicator{
    margin-left: 6%;
     width: 65%;
  }
  .salesOffer{
    margin-left: 15%;
     width: 65%;
  }
  .custQualifier{
    margin-left: 10%;
     width: 65%;
  }
  .origin{
    margin-left: 21%;
     width: 65%;
  }
  .custPremises{
    margin-left: 10%;
     width: 65%;
  }

  label{
    font-weight: bold;
  }

  .opt{
    color: black;
  }
