.headerTitle{
    background-color: #3f51b5;
    color: white;
}

mat-dialog-content{
    width: 40%;
    height: 50%;
}

.row_one,.row_three,.row_five{
    /* margin: 1%; */
    background-color: lightgray;
    height: 48px;
  }

  .closeBtn{
    margin-left: 35%;
    background-color: #3f51b5;
    color: white;
  }

  .project{
    margin-left: 15%;
     width: 65%;
  }
  .serviceIndicator{
    margin-left: 4%;
     width: 65%;
  }
  .salesOffer{
    margin-left: 12%;
     width: 65%;
  }
  .custQualifier{
    margin-left: 8%;
     width: 65%;
  }
  .origin{
    margin-left: 18%;
     width: 65%;
  }
  .custPremises{
    margin-left: 8%;
     width: 65%;
  }

  label{
    font-weight: bold;
  }

  .opt{
    color: black;
  }
